<section>
  <h3>Create Item</h3>
  <form class="form-group" [formGroup]="createItemForm" (ngSubmit)="onCreate()">
    <label for="formName">Name</label>
    <input id="formName" type="text" class="form-control" formControlName="name" placeholder="name">
    <label>Description</label>
    <input type="text" class="form-control" formControlName="description" placeholder="description">
    <label>Price</label>
    <input type="number" class="form-control" formControlName="price" placeholder="0">
    <label>Amount of Stock</label>
    <input type="number" class="form-control" formControlName="stockAmount" placeholder="0">
    <br>
    <div class="row">
      <div class="col">
        <button type="submit" class="col-9 form-control btn btn-success" [disabled]="!createItemForm.valid">CREATE</button>
      </div>
      <div class="col">
        <button type="submit" class="col-3 form-control btn btn-outline-secondary" >CANCEL</button>
      </div>
    </div>



  </form>
</section>
