<main>
  <header class="row">
    <div class="col-md">
      <img [routerLink]="['/']" src="/assets/order.png" alt="logo" aria-hidden="true" height="85"/>
    </div>
    <div class="col-md-3 row align-items-center">
<!--      <div class="col">-->
<!--        <a class="btn btn-primary" role="button" [routerLink]="['/create-update-item']">-->
<!--          Add Item-->
<!--        </a>-->
<!--      </div>-->
      <div class="col text-center">
        <a class="btn btn-primary" role="button" [routerLink]="['']">
          Items
        </a>
      </div>
      <div class="col text-center">
        <a class="btn btn-primary" role="button" [routerLink]="['customer-overview']">
          Customers
        </a>
      </div>
      <div class="col text-center">
        <a class="btn btn-primary" role="button" [routerLink]="['']">
          Cart
        </a>
      </div>
    </div>
  </header>

  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
